-
    var ranges = [
        {
            label: 'Стоимость, руб',
            limitMin: '5000',
            limitMax: '70000',
            valMin: '0',
            valMax: '50000',
            status: 'open'
        },
        {
            label: 'Площадь освещения,&nbsp;м2',
            limitMin: '5',
            limitMax: '120',
            valMin: '12',
            valMax: '200',
            status: 'open'
        },
        {
            label: 'Кол-во ламп,&nbsp;шт.',
            limitMin: '2',
            limitMax: '10',
            status: 'close'
        }
    ]
    var maders = ['Schneider Electric', 'Arlight','Arte Lamp', 'Citilux', 'Diodex', 'Ideal Lux', 'General Electric', 'TDM ELECTRIC', 'EK (ИЭК)','Schneider Electric', 'Arlight','Arte Lamp', 'Citilux', 'Diodex', 'Ideal Lux', 'General Electric', 'TDM ELECTRIC', 'EK (ИЭК)']
.filter
    .filter__header Выбор по параметрам:
    .filter__content
        each item, i in ranges
            .filter__panel.js-filter-panel(class=item.status)
                .filter__label-wrap
                    .filter__label.js-filter-panel-label!= item.label
                .filter__panel-content.js-range-wrap.js-filter-panel-content
                    .filter__range-row.filter__range-row_input

                        .filter__input-wrap
                            input(type="text" id="input-range-min-1" value=item.valMin).filter__input.js-range-input.js-range-input_min
                            label(for="input-range-min-1").filter__input-label от

                        .filter__input-wrap
                            input(type="text" id="input-range-max-1" value=item.valMax ).filter__input.js-range-input.js-range-input_max
                            label(for="input-range-max-1").filter__input-label до

                    .filter__range-row
                        .filter__range.js-range(data-min=item.limitMin data-max=item.limitMax)

        //-Чекбоксы
        .filter__panel.js-filter-panel.open
            .filter__label-wrap
                .filter__label.js-filter-panel-label Производитель
            .filter__panel-content.js-filter-panel-content
                .filter__list.js-limit-list(data-max-items='6')
                    each mader, i in maders
                        .filter__list-item
                            .input
                                input.input__checkbox(type="checkbox" id="filter-cb-1-"+i)
                                label.input__label(for="filter-cb-1-"+i)!= mader

        //-Кнопки
        .filter__panel.filter__panel_buttons
            button.button.button_apply.filter__button Применить
            .button.button_cancel.filter__button Сбросить
