mixin recall(dataExternal, amount, mod)
    -
        var mod = mod || ''
        var amount = amount || 1
        var names = [
            'Колосов В. Б.','Тимофеев Г. Д.', 'Русаков Н. В.', 'Константинов Ж. Ж'
        ]
        var roles = [
            'Исполнительный директор<br>ООО «Манхэттен Екатеринбург»','Мееджер по продажам<br>ОАО «Тинькоф и Компания Верхняя Пышма»','Руководитель департамента перевозок в сфере пассажиропотока<br>ОАО «РЖД»', 'Генеральный Директор<br>ООО «Атомстройкомплекс»',
        ]
        var descs = [
            'Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое.',
            'Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое. <br><br> Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое.',
            'Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ.',
        ]

        function randomDigit(min,max){
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }


    - var n = 1
    while (n <= amount)
        -
            var random = randomDigit(0,4)

            var data = dataExternal || {
                    img : './assets/images/client.jpg',
                    role : roles[randomDigit(0,3)],
                    name : names[randomDigit(0,3)],
                    desc : descs[randomDigit(0,2)]
                }



        .recall(class=mod)
            .recall__container
                .recall__client
                    .recall__photo
                        .recall__photo-img-wrap
                            img.img.recall__photo-img(src=data.img)
                    .recall__name!= data.name
                    .recall__role!= data.role

                .recall__content!= data.desc


        - n++
