mixin team-card(dataExternal, amount, mod)
    -
        var mod = mod || ''
        var amount = amount || 1
        var names = [
            'Елена Александровна Елакова','Журавлев Александр Михайлович', 'Журавлева наталья Витальевна', 'Константинов Константин Константинович'
        ]
        var descs = [
            'Руководит топо-геодезическим сектором. <br>Опытнейший полевой специалист и управленец.',
            'Основатель компании.',
            'Ведет геодезические работы сектором. <br>Опытнейший полевой специалист и управленец.<br>Имеет многочисленные награды в области геодезированиии и юриспруденции',
        ]
        var roles = [
            'Директор','Главный инженер', 'Ведущий специалист по землеустройству'
        ]

        function randomDigit(min,max){
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }


    - var n = 1
    while (n <= amount)
        -
            var random = randomDigit(1,3)

            var data = dataExternal || {
                    name  : names[randomDigit(0,3)],
                    desc  : descs[randomDigit(0,2)],
                    role  : roles[randomDigit(0,2)],
                    img   : './assets/images/team-'+random+'.png',
                }


        .team-card(class=mod)
            .team-card__img-wrap
                img.team-card__img(src=data.img)
            .team-card__overlay
                .team-card__name!= data.name
                .team-card__role!= data.role
                .team-card__desc!= data.desc
        - n++
